{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | {{ course.title }}{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h3> {{ course.title }}</h3>
        <div>
            {%   if displayVideo %}
                <iframe width="560" height="340" frameborder="0"
                        src="{{ course.videoUrl }}">
                </iframe>
            {%  else %}

            {% endif %}
        </div>
    </div>
{% endblock %}
