{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} | Login{% endblock %}

{% block body %}
    <h2 style="text-align: center">Please sign in</h2>
    <form id='login-form' action="" method='post' autocomplete="off" >

        {% if error %}
            <div class="alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="email"  value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email address" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type='submit' class="btn">Login</button>
    </form>
{% endblock %}