{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} | Register{% endblock %}

{% block body %}
    <h2 style="text-align: center">Please register</h2>
    {{ form_start(form, { 'attr' : {'autocomplete':'off'}}) }}
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr': {'autocomplete':'off', 'required':'', 'placeholder':'Username'}}) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'autocomplete':'off', 'required':'', 'placeholder':'Email'}}) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': { 'required':'', 'placeholder':'Password'}}) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': { 'required':'', 'placeholder':'Retype Password'}}) }}
        <button class="btn" type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}