body {
    background: #999999;
    padding: 0;
    margin: 0;
}
.container {
    width: 960px;
    height: auto;
    margin: 0 auto;
}
a , a:visited, a:active {
    color: black;
    text-decoration: none;
}
.head {
    display: block;
    height: 50px;
}
.head_section {
    display: inline-block;
    width: 470px;
    height: 45px;
}

form {
    margin:0 auto;
    width:300px
}
input {
    margin-bottom:3px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
}
button {
    padding:10px
}
.alert-danger {
    color: brown;
}
.btn {
    cursor: pointer;
}

ul {
    list-style-type: none;
}