{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Home {% endblock %}

{% block body %}
    <div class="container">
        <div style="text-align: center">
            <h3>Welcome PHP devs ;-)</h3>
            <h4>Enjoy our cooking courses</h4>
        </div>

        <div style="padding-left: 30px;">
            {% for course in availableCourses %}
                <div>
                    <h4>
                        <a title="{{ course.title }}" href="{{ path('video_preview',{'id' : course.id}) }}">
                            {{ course.title }}
                        </a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
