<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TH Cooking{% endblock %}</title>
        <meta name="keywords" content="PHP Dev'S ;-) cooking">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('static/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">

        {% block header %}
            <div>
                <header class="head">
                   <div class="head_section"><h3> <a style="color: brown" title="home" href="{{ path('index') }}">TH Cooking</a> </h3></div>
                   <div class="head_section" style="text-align: right">
                       {%   if app.user %}
                           Hey, {{ app.user.name }} |
                           <a href="{{ path('main_logout') }}">Logout</a>
                       {% else %}
                           <a href="{{ path('main_login') }}">Login</a> |
                           <a href="{{ path('main_register') }}">Register</a>
                       {% endif %}
                   </div>
                </header>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
